<!-- vim: set ts=4 sw=4 noet : -->
<!DOCTYPE html>
<html>
	<head>
		<title>xXx TITLE xXx</title>
		<meta name="description" content="Portland Community College Chinese Club">
		<meta http-equiv="content-type" content="text/html;charset=UTF-8">
		<link type="text/css" rel="stylesheet" href="/static/style.css" >
	</head>
	<body>
		<header>
			<ul>
				<span class="tx"><a href="/index.html">Eng</a> / <a href="/index_zhcn.html">中文</a></span>
				<span class="blog_ref"><a href="/blog.html">Blog</a></span>
				<li><a href="/#title">Top</a></li>
				<li><a href="/#resources">Resources</a></li>
				<li><a href="/#when">When</a></li>
				<li><a href="/#where">Where</a></li>
				<li><a href="/#faq">FAQ</a></li>
				<li><a href="/#resources">Resources</a></li>
				<li><a href="/#contact">Contact</a></li>
			</ul>
		</header>
		<section id="content">
			xXx CONTENT xXx
		</section>
	</body>
</html>
