xXx PARENT=templates/blog_base.html xXx
xXx TITLE xXx
    Meeting Notes
xXx TTYL xXx
xXx CONTENT xXx
    xXx LOOP blog_meta POSTS xXx
    <div class="grid grid-pad">
        <div class="col-1-1">
            <div class="content blog_item">
                <h2 class="post_title"><a href="/xXx blog_meta$link xXx">xXx blog_meta$title xXx</a></h2>
                <p>
                    <span class="author_name">xXx blog_meta$date xXx by xXx blog_meta$author xXx</span>
                </p>
                xXx blog_meta$preview xXx
                <p>
                    <a href="xXx blog_meta$link xXx">Read the Full Post</a>
                </p>
            </div>
        </div>
    </div>
    xXx BBL xXx
xXx TTYL xXx
