xXx PARENT=templates/base.html xXx
xXx TITLE xXx
    Chinese PCC Club - 中文
xXx TTYL xXx
xXx ABOUT xXx
			<h1>中文 PCC 俱樂部</h1>
			<p>大家好，我们欢迎你来看我们的网站。</p>
			<p>这是PCC中文英文语言交换俱乐部。要是你的母语是中文我们的俱乐部欢迎你来跟我们做语言交换。我们的目的是帮彼此学习语言，互相交换文化，还有玩儿得很愉快。要是你想提高你的英文水平，你应该跟说英语的本国人练习说英语。因此，你该带笔记本，一支铅笔，来我们的俱乐部吧。我们很愿意帮你学习。一会儿见。</p>
			<p>公告：不久以后我们的俱乐部网站会开始提供 学习英文的材料。</p>
			<p><span class="important">Please sign up to our <a href="https://groups.google.com/forum/#!forum/pcc-chinese-club">Mailing List</a> to get information regarding meetups, discussions and activities!</span></p>
xXx TTYL xXx
