xXx PARENT=templates/base.html xXx
xXx TITLE xXx
    Chinese PCC Club - English
xXx TTYL xXx
xXx ABOUT xXx
			<h1>Chinese PCC Club</h1>
			<p>Welcome to the PCC Chinese Club webpage.</p>
			<p>The purpose of our club is to provide a place for Chinese native speakers and English native speakers to gather and exchange language.  The only requisites for our club is that you are a native speaker of one of the languages above, and that you are currently learning the other. The first major step to really learning any language is actually using it in real conversation. So grab a notepad, a pencil, (or a pen if you are like that, ha), and come start speaking with us, we would love to have you.</p>
			<p>Every week we will provide a small lesson related to vocabulary, grammar, idiomatic expressions, slang, or culture.</p>
			<p><span class="important">Please sign up to our <a href="https://groups.google.com/forum/#!forum/pcc-chinese-club">Mailing List</a> to get information regarding meetups, discussions and activities!</span></p>
xXx TTYL xXx
